<section class="u-py-100 u-h-100vh u-flex-center" style="background-color:#F6F9FC">
<div class="container">
   <div class="row">
      <div class="col-lg-6 mt-6">
         <h1 class="display-3 u-fw-600">
            Subscribe to minimalism
         </h1>
         <p class="u-fs-22 u-lh-1_7 u-py-40">
            Own less and live life on the go. Spend less time buying expensive products that deperciate in value and spend more time experiencing life.
         </p>
         <a href="#" class="btn btn btn-rounded btn-green u-w-160">
         Subscribe Now
         </a>
      </div>
      <div class="col-lg-4 ml-auto text-center mt-5">
       
         
      </div>
   </div>
</div>
<div class="u-pos-abs u-bottom-0 u-z-index-minus-1 u-left-0">
  
  
</div>
</section>
<section id="about">
<div class="container">
   <div class="row align-items-center">
      <div class="col-lg-5 text-center">

         
      </div>
      <div class="col-lg-6 ml-auto">
         <h2 class="h1">
            Own less. Stress less. Live more.
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
         <p class="mb-5">
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer possim assum minim veniam quis nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper litterarum formas humanitatis per.
         </p>
         <a href="#" class="btn btn btn-rounded btn-green px-4">
         Subcribe Now
         </a>
      </div>
   </div>
</div>
</section>
<section id="case" class="bg-green-light2">
         <div class="container">
            <div class="row">
               <div class="col-12 text-center">
                  <h1 class="text-white">
                     We Offer a Full Range of <br>Digital Marketing Services!
                  </h1>
                  <div class="u-h-4 u-w-50 bg-orange-light rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4">
               
                  
               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4">
                  <h2 class="u-mb-30">
                     Social Media Marketing
                  </h2>
                  <p class="text-white-light">
                     Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim the assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper.
                  </p>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4 order-2 order-lg-1">
                  <h2 class="u-mb-30">
                     Email Marketing
                  </h2>
                  <p class="text-white-light">
                     Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim the assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper.
                  </p>
               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4 order-1 order-lg-2">
               
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4">
               
               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4">
                  <h2 class="u-mb-30">
                     SEO Services Optimization
                  </h2>
                  <p class="text-white-light">
                     Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim the assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper.
                  </p>
               </div>
            </div>
         </div>
      </section>

      <section id="pricing" class="bg-light1 u-py-100">
         <div class="container text-center">
            <div class="row">
               <div class="col-12">
                  <h2 class="h1">Fair & Simple Pricing</h2>
                  <div class="u-h-4 u-w-50 bg-green rounded mt-4 u-mb-20 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 mt-5">
                  <div class="bg-white rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Free
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>0.00</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>searchable message</li>
                        <li>apps and service</li>
                        <li>file storage per team</li>
                        <li>Monthly Bandwidth</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <a href="#" class="btn btn-green btn-rounded">
                        Get Started
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 mt-5">
                  <div class="bg-gray-v2 rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Standard
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>9.50</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>searchable message</li>
                        <li>apps and service</li>
                        <li>file storage per team</li>
                        <li>Monthly Bandwidth</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <a href="#" class="btn btn-green btn-rounded">
                        Get Started
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 mt-5">
                  <div class="bg-white rounded u-pb-20">
                     <h4 class="m-0 py-4">
                        Business
                     </h4>
                     <hr class="m-0">
                     <h2 class="u-fs-60 u-fw-600 u-py-35 text-green"><sup class="u-fs-20">$</sup>17.99</h2>
                     <hr class="m-0">
                     <ul class="list-unstyled u-py-40 u-lh-2">
                        <li>searchable message</li>
                        <li>apps and service</li>
                        <li>file storage per team</li>
                        <li>Monthly Bandwidth</li>
                     </ul>
                     <hr class="m-0">
                     <div class="u-py-40">
                        <a href="#" class="btn btn-green btn-rounded">
                        Get Started
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
