<footer class="footer-bg-back">
<div class="container">
   <div class="row">
      <div class="col-12">
         <div class="bg-black box-shadow-v1 rounded p-5">
            <h2 class="h1 text-center text-white">
               Subscribe to Our Newsletter
            </h2>
            <form class="form-inline justify-content-center my-5 subsribe-rounded">
               <div class="form-group">
                  <input type="email" class="form-control px-4 u-rounded-50 u-h-55" placeholder="Enter your email address">
               </div>
               <button type="submit" class="btn btn-rounded btn-green u-h-55">
               Subscribe Now
               </button>
            </form>
         </div>
      </div>
      <div class="col-12 text-center u-py-60">
          <h2 class="logo-brand-footer">HomeNows</h2>
         <ul class="list-inline social social-rounded mt-4">
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row align-items-center" style="border-top:1px solid #c3f4df;color:#c3f4df">
      <div class="col-lg-6 py-4 text-center text-lg-left">
         <span>© Copyright 2019 HomeNows</span>
      </div>
      <div class="col-lg-6 py-4">
         <ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right">
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">Home</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">Blog</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">About</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">Locations</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">Contact</a>
            </li>
         </ul>
      </div>
   </div>
</div>
</footer>
