<footer class="footer-bg-back">
<div class="container">
   <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12 text-center u-py-60">
          <h2 class="logo-brand-footer">HomeNows</h2>
         <ul class="list-inline social social-rounded mt-4">
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
               <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row align-items-center" style="border-top:1px solid #c3f4df;color:#c3f4df">
      <div class="col-lg-6 py-4 text-center text-lg-left">
         <span>© Copyright 2019 - HomeNows</span>
      </div>
      <div class="col-lg-6 py-4">
         <ul class="list-inline footer-nav u-ff-dosis text-center text-lg-right">
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">HOME</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">about</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">BLOG</a>
            </li>
            <li class="list-inline-item">
               <a class="text-uppercase u-fw-600 p-2" href="#">CONTACT</a>
            </li>
         </ul>
      </div>
   </div>
</div>
</footer>
