<header class="header header-shrink header-inverse fixed-top">
         <div class="container">
            <nav class="navbar navbar-expand-lg px-md-0">
               <a class="navbar-brand" href="index.html">
               <span class="logo-default">
               <h2 class="logo-brand-color">HomeNows</h2>
               </span>
               </a>
               <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                  <div class="hamburger hamburger--spin js-hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
                  </div>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link" href="#" data-scrollto="top">HOME</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="about">ABOUT</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="features">RECYCLING</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-scrollto="screenshot">LIFESTYLE</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link btn btn btn-rounded btn-green u-w-160 ml-lg-4 text-capitalize" href="#" data-scrollto="download">SUBCRIBE</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>